$surface-bg: #f4f4f4;

$primary: #7ba558;
$secondary: #4e7a40;
$danger: #d9534f;
$body-color: #333333;
$body-bg: #ffffff;
$text-muted: #8c8c8c;
$card-bg: $surface-bg;
$modal-content-bg: $surface-bg;
$dropdown-bg: $surface-bg;
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: transparent;
$dropdown-link-hover-color: #5e8f77;
$dropdown-link-active-bg: transparent;
$dropdown-link-active-color: #416637;
$input-bg: transparent;
$form-file-button-bg: $surface-bg;
$navbar-dark-color: $body-color;
$navbar-dark-hover-color: #5e8f77;
$navbar-dark-active-color: #416637;
$tooltip-bg: $surface-bg;
$tooltip-color: $body-color;
$pagination-bg: $surface-bg;
$pagination-hover-bg: $surface-bg;
$pagination-focus-bg: $surface-bg;
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;
$pagination-active-bg: $surface-bg;
$pagination-active-color: $primary;
$pagination-color: $body-color;
$pagination-hover-color: $primary;
$pagination-focus-color: $primary;
$input-placeholder-color: #aaa;

$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap';
